.card {
  flex: 0 0 auto;
  margin-bottom: 10px;
  width: 80%;
  height: 85px;
  margin: 10px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.6);
  border: 3px solid rgba(92, 92, 92, 0.6);
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: center;
}

.card h3 {
  margin-top: -0.3em;
  font-size: 1.5em;
  margin-bottom: 0.3em;
  text-align: center;
  /* 가운데 정렬 추가 */
}

.card p {
  margin-top: 0;
  display: block;
}

.card .content-preview {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.indicator-container {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #aaa;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: #08f;
}

.arrow-button {
  position: absolute;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  font-size: 1.5em;
  cursor: pointer;
  color: white;
  background: rgba(0, 95, 204, 40%);
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 20px;
}

.arrow-button:hover {
  background: #005fcc;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.arrow-button.left {
  left: -5em;
}

.arrow-button.right {
  right: -5em;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  /* 모달을 앞으로 가져오기 위해 높은 z-index 값을 설정합니다. */
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 8px;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: auto;
  max-height: 80vh;
  position: relative;
  /* 모달 내부 요소의 위치를 상대 위치로 설정 */
  color: black;
  font-size: 1.2em;
  /* 모달 내부 텍스트 크기 조정 */
}

.modal-content p {
  display: block;
  font-size: inherit;
}

.modal-title {
  color: black;
  font-style: bold;
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* 모달창 안의 닫기 버튼 */
.close {
  position: absolute;
  /* 절대 위치로 설정 */
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: black;
}
